.frontpage p, .navbar p {
    font-size:18px;
    margin-top:20px;
    font-weight:300;
}
ul {
    padding-left:15px;
}
#why-us li {
    font-size:18px;
    font-weight:300;
}
hr {
    border-color:#a0a0a0;
    width:100%;
    margin-left: 0;
}
label {
    margin-top:10px;
    font-size:14px;
    font-weight:300;
}
h4 {
    font-weight:300;
}
/* top menu-items padding */
.nav>li>a {
    padding: 15px 20px;
    font-size:14px;
}

/* menu item dropdown font-size */
.dropdown-font-size {
    font-size:14px;
}
/* padding for container-fluid */
.container-padding {
    padding:0px 40px;
}
/* align menu center */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: inherit;
}
.nav>li>a {
    font-size: 15px;
}
/***** accordian styling *****/
.page-header {
    color:#5b5b5b;
}
.panel-border {
    border: 1px solid #3d99f4;
}
.panel-default>.panel-heading {
    background-color: #3d99f4;
    color: white;
}
div .panel-body {
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
/***** end accordion styling *****/
.wrapper {
    background-color:#e2e2e2;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navigation-active {
    color:#628c5b !important;
    border-top: 2px solid #628c5b;
}
.navigation-not-active {
    border-top: 2px solid #eee;
}
.navigation-not-active:hover {
    border-top-color: #628c5b;
    color: #628c5b !important;
}
.img-responsive {
    margin: 0 auto;
}
.wrapper-image {
    background-image: url("../images/smallbanner.png");
    min-height: 100px;
    padding-top: 5px;
}
.btn .btn-success {
}
.steps-padding {
    padding-right: 15px;
}
.img-no-margin {
    margin: 0;
}
.margin-adjust {
    margin-top: 40px;
    margin-bottom: 50px;
}

.li-glyphicon {
    display: block;
}
.li-glyphicon:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
.form-border {
    border-radius: 0px;
    box-shadow: 3px 3px 3px #bfbfbf;
    background-color: white;
    padding: 30px;
    padding-top: 20px;
    margin-top:50px;
    margin-bottom:60px;
}
/*.width-50 {
    width:70%;
}*/
.form-list {
    font-size:14px;
    font-weight:300;
}
.fs-14 {
    font-size:16px;
}
#submit-purchase {
    margin-top:40px; 
    margin-bottom:0px; 
    color:#628c5b;
    background-color:white;
    border: 1px solid #628c5b;
    padding-top:10px;
    padding-bottom:10px;
}
#user-notice {
    margin-top:40px; 
    margin-bottom:40px; 
    color:red;
    background-color:white;
    border: 1px solid red;
    padding-top:10px;
    padding-bottom:10px;
}
.form-title-font {
    font-size: 30px;
    color: #5E5E5E;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,from(rgba(0,0,0,1)),to(rgba(0,0,0,.3)));
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fw-300 {
    font-weight: 300;
}
.success-msg {
    color:white; font-weight:300; margin-top:0px; margin-bottom:0px; background-color:green; padding-top:10px; padding-bottom:10px;
}
.font-main {
    font-size: 16px;
    font-weight: 300px;
}


.social-icon {
    margin-right: 5px;
    float: left;
}
.social-icon img {
    width: 24px;
    height: 24px;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}
.can-select {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.order-form input[type='text'], .order-form input[type='number'], .order-form select {
    min-width: 220px;
}

.order-form input[name='wallet'] {
    min-width: 165px;
}

.order-form input[readonly] {
    min-width: 235px;
}

#buy-now .btn-link {
    color: white;
    text-decoration: none;
}