strong {
	font-size:14px;
}
.top-nav>li>a {
	color: #4c4c4c !important;
}
.top-nav>li>a:hover {
	color: white !important;
	background-color: #686868;
}
.btn-success:hover {
	background-color: #2c8c1d;
}
.navbar-brand {
	padding-top:5px;
}
.navbar-inverse {
	border-color: #686868;
}
.img-border {
	border: 4px solid #d1d1d1 !important;
	border-radius: 2px !important;
}